# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# editor configs
!.vscode/settings.json
.vscode

# misc
.DS_Store
.env.local
*.swp
.env.development.local
.env.local
.env.production.local
.env.test.local

# yarn / npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
